@media (max-width: 768px){
  #git-trophy{
    width:85%;
}
}

@media (max-width:510px){
    #github-streak-stats{
        width:97%;
    }
}
@media (max-width:765px){
    #nav{
        display: none;
    }
}